<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Document Name</th>
      <th>Document Type</th>
      <th>Username</th>
      <th>Ocena</th>
      <th *ngIf="userType === 'admin'">Oceni</th>
      <th *ngIf="userType !== 'guest'">Obrisi</th>
      <th *ngIf="userType !== 'guest'">Proveri</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records" (click)="viewDocument(record)">
      <td>{{ record.id }}</td>
      <td>{{ record.documentName }}</td>
      <td>{{ record.documentType }}</td>
      <td>{{ record.username }}</td>
      <td>{{ record.mark }}</td>
      <td *ngIf="userType === 'admin'">
        <button (click)="rateRecord(record, $event)">
          Oceni
        </button>
      </td>
      <td *ngIf="userType !== 'guest'">
        <button (click)="deleteRecord(record, $event)">
          Obrisi
        </button>
      </td>
      <td *ngIf="userType !== 'guest'">
        <button (click)="checkDocument(record, $event)">
          Proveri
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="serverResponse" class="response-container">
  {{ serverResponse }}
</div>
