<table>
  <thead>
    <tr>
      <th (click)="sortRecords('id')">
        ID
        <span [ngClass]="{'sort-up': sortKey === 'id' && sortOrder === 'asc', 'sort-down': sortKey === 'id' && sortOrder === 'desc'}"></span>
      </th>
      <th (click)="sortRecords('documentName')">
        Document Name
        <span [ngClass]="{'sort-up': sortKey === 'documentName' && sortOrder === 'asc', 'sort-down': sortKey === 'documentName' && sortOrder === 'desc'}"></span>
      </th>
      <th (click)="sortRecords('documentType')">
        Document Type
        <span [ngClass]="{'sort-up': sortKey === 'documentType' && sortOrder === 'asc', 'sort-down': sortKey === 'documentType' && sortOrder === 'desc'}"></span>
      </th>
      <th (click)="sortRecords('username')">
        Username
        <span [ngClass]="{'sort-up': sortKey === 'username' && sortOrder === 'asc', 'sort-down': sortKey === 'username' && sortOrder === 'desc'}"></span>
      </th>
      <th (click)="sortRecords('mark')">
        Ocena
        <span [ngClass]="{'sort-up': sortKey === 'mark' && sortOrder === 'asc', 'sort-down': sortKey === 'mark' && sortOrder === 'desc'}"></span>
      </th>
      <th *ngIf="userType === 'admin'">Oceni</th>
      <th *ngIf="userType !== 'guest'">Obrisi</th>
      <th *ngIf="userType !== 'guest'">Proveri</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records" (click)="viewDocument(record)">
      <td>{{ record.id }}</td>
      <td>{{ record.documentName }}</td>
      <td>{{ record.documentType }}</td>
      <td>{{ record.username }}</td>
      <td>{{ record.mark }}</td>
      <td *ngIf="userType === 'admin'">
        <button (click)="rateRecord(record, $event)">
          Oceni
        </button>
      </td>
      <td *ngIf="userType !== 'guest'">
        <button (click)="deleteRecord(record, $event)">
          Obrisi
        </button>
      </td>
      <td *ngIf="userType !== 'guest'">
        <button (click)="checkDocument(record, $event)">
          Proveri
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="serverResponse" class="response-container">
  {{ serverResponse }}
</div>
