<h3>Oceni dokument</h3>
<p>Document: {{ documentName }}</p>
<p>User: {{ username }}</p>

<mat-form-field appearance="fill">
  <mat-label>Ocena</mat-label>
  <mat-select [(value)]="selectedRating">
    <mat-option *ngFor="let rating of [5, 6, 7, 8, 9, 10]" [value]="rating">
      {{ rating }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="buttons">
  <button mat-raised-button color="primary" (click)="rate()">Oceni</button>
  <button mat-button (click)="close()">Zatvori</button>
</div>
